{% extends 'base.html.twig' %}

{% block title %}Kursy walut{% endblock %}

{% block body %}

    <div style="margin: auto;
  width: 30%;
  text-align: center;">

    <h6 style="color: red">Aby zaaktualizować dane odśwież stronę</h6>

    <table style="text-align: center; vertical-align: center;">
        <thead>
        <tr>
            <th>Nazwa waluty</th>
            <th>Kod</th>
            <th>Kurs [PLN]</th>
        </tr>
        </thead>
        <tbody>
        {% for currency in currencies %}
            <tr>
                <td>{{ currency.name }}</td>
                <td>{{ currency.currencyCode }}</td>
                <td>{{ currency.exchangeRate * 1}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}